
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="img-footer" src="/img/Descubramos-op.png" width="150" hight="150">
            </div>
            <div class="col-md-4">
                <h4 class="txt-footer"><strong>Descubramos Juntos</strong></h4>
                <p class="txt-footer"><i class="fas fa-at"></i> <strong>Email: contacto@descubramos.com</strong></p>
                <p class="txt-footer"><i class="fas fa-phone"></i> <strong>Tel: (55) 7028-1540</strong></p>
                <p class="txt-footer"><i class="fab fa-whatsapp"></i> <strong>Whatsapp: (55) 1338-5147</strong></p>
            </div>
            <div class="col-md-4">
                <h4 class="txt-footer"><strong>Dirección CDMX</strong></h4>
                <p class="txt-footer"> Nayarit 15, Aculco <br> 09410, Iztapalapa <br> Ciudad de México</p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>