<% include ../partials/header %>

<link rel="stylesheet" href="/stylesheets/nosotros.css">

<div class="baige">
    <div class="container">
        <h1>Somos un equipo de estudiantes comprometidos a impulsar estudiantes<strong class="dot">.</strong></h1>
        <p class="txt-nosotros"> 
            <strong>Queremos ayudar a todo aquel que tenga sed de conocimiento. Misma sed que lo obliga a responder
            cualquier duda que le surja a lo largo de su vida.</strong>
            <br>
            <strong>Los costos económicos son altos cuando se busca ayuda "privada", es por ello que, siguiendo nuestra misión y visión,
             surge <span>DESCUBRAMOS JUNTOS</span>.</strong>
        </p>
    </div>
</div>

<div class="mision">
    <div class="container">
        <ul>
            <li>
                <h2><i class="fas fa-flag-checkered verde"></i> Misión</h2>
                <h3 id="mision"> Revolucionar la educación, instruyendo lo mejor del talento mexicano<strong class="dot">.</strong></h3>
            </li>

            <hr>

            <li>
                <h2><i class="far fa-eye dot"></i> Visión</h2>
                <h3 id="mision"> Descubrir, potenciar y ayudar a cualquiera que quiera ilustrarse<strong class="dot">.</strong></h3>
            </li>
        </ul>
        
    </div>
</div>



<% include ../partials/footer %>