<% include partials/header %>

<link rel="stylesheet" href="/stylesheets/landing.css">

<div class="jumbotron home">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 id="title-landing">Descubramos juntos tu potencial </h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <a href="/nosotros" class="button">Ver más</a>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>

<div class="container section2">
    <div class="row">
        <div class="col-md-7 col-sm-12">
            <img id="enseñar-img" src="/img/spider.jpg" width="560" height="315">
        </div>
        <div class="col-md-5 col-sm-12">
            <h2><strong> Aprende lo que siempre deseaste, sin pagar cantidades enormes</strong><strong class="dot">.</strong></h2>
            <p>Nuestros precios son lo más bajos del mercado. Y con nuestro programa te <strong>garantizamos</strong> que en 3 meses aprenderás a hacer <strong>tu página web desde cero</strong>.</p>
            <a class="ver" href="/programa">Ver más</a>
        </div> 
    </div>
</div>

<hr>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h2><strong> Somos un equipo de estudiantes, enseñando estudiantes</strong><strong class="dot">.</strong></h2>
            <p>Nuestro equipo esta conformado casi completamente por estudiantes, de diversas carreras del ramo, <strong>altamente calificados</strong> y con muchas ganas de seguir creciendo esta maravillosa comunidad en <strong>México</strong>.</p>
            <a class="ver" href="/nosotros">Ver más</a>
        </div>
        <div class="col-md-6 col-sm-12">
            <img id="enseñar-img" src="/img/enseñar.jpg" width="560" height="315">
        </div>
    </div>
</div>

<hr>

<section id="fullstack">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h2 class="txt-fullstack">¡Iniciamos en Enero de 2019!</h2>
                <br>
                <p class="txt-fullstack">Forma parte de la siguiente generación de desarrolladores que cambiará el mundo e influirá en la vida de millones de usuarios con la ayuda de la tecnología.</p>
            </div>

            <a href="/programa">
                <div class="col-md-6 col-sm-12" id="card-fullstack">
                    <div class="card">
                        <img class="card-img-top" src="/img/full.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title txt-fullstack">Desarrollo web (Full Satck)</h5>
                        </div>
                    </div>
                </div>
            </a>

        </div>
    </div>
</section>

<hr>

<div class="container" id="beca">
    <div>
        <h2><strong>No renuncies a eso que quieres ser<strong class="dot">.</strong> Que el dinero no sea una barrera</strong><strong class="dot">.</strong></h2>
        <p>Nuestros precios son muy bajos. Pero entendemos que hay ocaciones en las que el dinero se ocupa para otras cosas más indispensables. Por eso tenemos un sitema de <strong>becas</strong> en el cual, te podemos becar hasta el <strong>80%</strong> de tu programa. Nosotros queremos que en <strong>México este la cuna del desarrollo</strong>.</p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Requisitos</h3>
            <p><strong>- </strong>Disponibilidad de tiempo en el horario de las clases.</p>
            <p><strong>- </strong>Comprometerte en terminar el programa.</p>
            <p><strong>- </strong>¡Muchas ganas de aprender e impactar al mundo!</p>
        </div>
        <div class="col-md-4">
            <a href="/beca" class="button btn-beca">Aplica para una beca</a>
        </div>
        <div class="col-md-4">
            <h3>¿Cual es el proceso?</h3>
            <p> 1. Ingresa al formulario que está en la sección de becas. Contesta todas las preguntas y envíalo.</p>        
            <p> 2. Nos pondremos en contacto contigo para agendar una cita para tu entrevista.</p>
            <p> 3. Evaluaremos tu aplicación y posteriormente recibirás un correo con la información de la beca que ganaste.</p>
        </div>
    </div>
</div>



<% include partials/footer %>