<% include partials/header %>

<link rel="stylesheet" href="/stylesheets/landing.css">

<div class="jumbotron home">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 id="title-landing">Descubramos juntos tu potencial </h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <a href="/nosotros" class="button">Ver más</a>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>

<div class="container section2">
    <div class="row">
        <div class="col-md-7 col-sm-12">
            <img id="enseñar-img" src="/img/spider.jpg" width="560" height="315">
        </div>
        <div class="col-md-5 col-sm-12">
            <h2><strong> Aprende lo que siempre deseaste, sin pagar enormes cantidades</strong><strong class="dot">.</strong></h2>
            <p>Los costos son lo más bajos del mercado. Y con nuestro programa te <strong>garantizamos</strong> que en 3 meses aprenderás a hacer <strong>tu página web</strong>.</p>
            <a class="ver" href="/programa">Ver más</a>
        </div> 
    </div>
</div>

<hr>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h2><strong> Somos un equipo de estudiantes, enseñando estudiantes</strong><strong class="dot">.</strong></h2>
            <p>Los profesionales que conforman este equipo de trabajo son expertos en diversas disciplinas, <strong>altamente calificados</strong>, con espectativas de seguir creciendo y conformando una comunidad de aprendizaje en <strong>México</strong>.</p>
            <a class="ver" href="/nosotros">Ver más</a>
        </div>
        <div class="col-md-6 col-sm-12">
            <img id="enseñar-img" src="/img/enseñar.jpg" width="560" height="315">
        </div>
    </div>
</div>

<hr>

<section id="fullstack">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h2 class="txt-fullstack">¡Iniciamos en Enero de 2019!</h2>
                <br>
                <p class="txt-fullstack">Forma parte de la siguiente generación de desarrolladores que cambiará el mundo, e influirá en la vida de millones de usuarios con la ayuda de la tecnología.</p>
            </div>

            <a href="/programa">
                <div class="col-md-6 col-sm-12" id="card-fullstack">
                    <div class="card">
                        <img class="card-img-top" src="/img/full.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title txt-fullstack">Desarrollo web (Full Satck)</h5>
                        </div>
                    </div>
                </div>
            </a>

        </div>
    </div>
</section>

<hr>

<div class="container" id="beca">
    <div>
        <h2><strong>No renuncies a eso que quieres ser<strong class="dot">.</strong> Que el dinero no sea una barrera</strong><strong class="dot">.</strong></h2>
        <p>
            Tenemos un sitema de <strong>becas</strong> el cual se adapta a tus posibilidades. Queremos que <strong>México sea la cuna del desarrollo</strong>.
        </p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Requisitos</h3>
            <p><strong>- </strong>Comprometerte a terminar el programa.</p>
            <p><strong>- </strong>Una computadora y saber aritmética básica. </p>
            <p><strong>- </strong>¡Deseo de aprender y deslumbrar al mundo!</p>
        </div>
        <div class="col-md-4">
            <a href="/beca" class="button btn-beca">Aplica para una beca</a>
        </div>
        <div class="col-md-4">
            <h3>¿Cual es el proceso?</h3>
            <p> 1. Ingresa al formulario que está en la sección de becas. Contesta todas las preguntas y envíalo.</p>        
            <p> 2. Nos pondremos en contacto para agendar una cita y realizarte una entrevista.</p>
            <p> 3. Evaluaremos tu aplicación y posteriormente recibirás un correo con la información de la beca que ganaste.</p>
        </div>
    </div>
</div>



<% include partials/footer %>