<% include ../partials/header %>

<link rel="stylesheet" href="/stylesheets/becas.css">

<div class="container">
    <h2><strong>No renuncies a eso que quieres ser<strong class="dot">.</strong> Que el dinero no sea una barrera</strong><strong class="dot">.</strong></h2>
    <p>Nuestros precios son muy bajos. Pero entendemos que hay ocaciones en las que el dinero se ocupa para otras cosas más indispensables. Por eso tenemos un sitema de <strong>becas</strong> el cual no tiene limite, te podemos becar hasta el <strong>80%</strong>. Nosotros queremos que en México este la cuna del desarrollo.</p>


</div>

<% include ../partials/footer %>