<% include ../partials/header %>

<style>
.center{
    text-align: center
}
.far{
    margin-left: 30%;
    color: green;
}
</style>

<div class="container">
    <div class="jumbotron">
        <h1 class="center">Gracias por enviar tu solicitud</h1>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <i class="far fa-check-circle fa-10x"></i>
            </div>
        </div>
        <h3 class="center">El siguiente paso es esperar que nos contactemos contigo para agendar una entrevista</h3>
        <a href="/" class="btn btn-info btn-lg">Inicio</a>
    </div>
</div>

<% include ../partials/footer %>