.dot{
    color:#AB47BC; 
}

div.formulario{
    margin-top: 5%;
    border: #384650 5px solid;
    background-color: #384650;
    border-radius: 10px;
}

.txt-formulario{
    color: white;
}

label {
    color: white;
}

#inicio-becas{
    margin-top: 3%;
    
}

#medio-becas{
    background-color: bisque;
    margin-top: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#aplica{
    padding-bottom: 2%;
}