section#tres{
    background-color: #1297A6;
    padding: 2%;
    margin-top: 2%;
}

h2, h3{
    margin-top: 3%;
}

h2, h3{
    color: #9B835E;
}


h4{
    padding-left: 2em;
}

div.formulario{
    margin-top: 10%;
    border: #384650 5px solid;
    background-color: #384650;
    border-radius: 10px;
}

.txt-formulario{
    color: white;
}

.txt-tres {
    color: white;
    margin-left: 2%;
}

.verde {
    color: #66FF66;
}

.naranja{
    color: #FF9933;
}

.rosa {
    color: #EE34D2;
}

@media screen and (max-width: 600px){
    .txt-tres{
        font-size: 18px
    }
}
@media screen and (max-width: 800px){
    .txt-tres{
        font-size: 18px
    }
}

.dot{
    color:#AB47BC; 
}

label {
    color: white;
}

#inicio-programa {
    background-color: bisque;
    padding-top: 3%;
    padding-bottom: 3%;
}  

#aplica {
    text-align: center;
    padding-top: 2%;
}

.tab{
    padding-left: 2em;
}

a.ver{
    text-decoration: none;
    color: #AB47BC;
}

.btn-beca{
    text-decoration: none;
    color: white;
    background-color: #A0A608;
    border-radius: 10px;
    animation: rotar 10s infinite; 
    width: 200px;
    border:  #A0A608 solid 5px;
    text-align: center;
    height: 100px;
    font-size: 30px;
}

.btn-beca:hover {
    text-decoration: none;
    color: white;
}

@keyframes rotar {
    25%{
        transform: scale(1.2);
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(1.2)
    }
    100%{
        transform: scale(1);
    }
}

div.btn{
    margin-top: 10%;
    margin-left: 10%;
}